@import url("normalize.css");

body {
    margin: 0;
    padding: 0;
    background-color: #E1E6FA;
}

#container {
    width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    background-color: #ABC8E2;
    border-left: 12px solid #C4D7ED;
    border-right: 12px solid #C4D7ED; 
}

/* misc styling classes */
.center {
    text-align: center;
}



