/*********************
COLORS
*********************/

$portfolio-colors: (
  'non-euclidean': #EF4339,
  'hyperflora': #CA293E,
  'ibm': #820233,
  'reflections': #530031,
  'hackillinois': #2D112C,
  'footer': #25112C
);

$bg-color: #fbf7f5;
$text-color: #222;
$dark-text-color: #1b587d;
$link-color: #CC4452;
$link-hover-color: #E6B098;

/*********************
VARIABLES
*********************/

$nav-overlay-opacity: .85;
$nav-hover-opacity: 0.3;
$nav-selected-opacity: 0;
$project-bg-opacity: .2;

$sin-20: 0.342;
$cos-20: 0.94;
$tan-20: 0.364;
$nav-offset: -74px;

/*********************
MIXINS & FUNCTIONS
*********************/

@mixin project-bg-color($name) {
  background: rgba(get-color('#{$name}'), $project-bg-opacity);
}

@mixin portfolio-nav-stripe($name) {
  background: url(../assets/banners/#{$name}.png) no-repeat center center;
  background-size: cover;

  $overlay-color: get-color('#{$name}');

  h3 {
    background: rgba($overlay-color, $nav-overlay-opacity);
  }

  &:hover {
    h3 {
      background: rgba($overlay-color, $nav-hover-opacity);
    }
  }

  &.selected {
    h3 {
      background: rgba($overlay-color, $nav-selected-opacity);
    }
  }
}

@mixin breakpoint($point) {
   @if $point == xlarge {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == large {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == medium {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == small {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == xsmall {
     @media (max-width: 37.5em)  { @content ; }

  }
}

@function get-color($key: 'primary') {
  @return map-get($portfolio-colors, $key);
}

@function calc-stripe-width($stripe-height) {
  @return calc((100vw + #{$stripe-height} * #{$sin-20}) / #{$cos-20});

}

@function calc-stripe-offset($stripe-height) {
  @return calc(-1 * (((100vw + 27.4px) * .0319) + #{$stripe-height} / 2 * #{$sin-20}));
}

@function calc-nav-vertical() {
  @return calc(-1 * 50vw * #{$tan-20} + 150px);
}

/*********************
STYLES
*********************/

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  color: $text-color;
  background-color: $bg-color;

  font-family: 'PT Sans';

  h1, h2, h3 {
    font-family: 'Fjalla One';
    // letter-spacing: .5px;
  }
}

section {
  position: absolute;
  overflow-y: scroll;
  padding: 30px 40px 40vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  font-size: 1.1em;

  opacity: 1;
  -webkit-transition: opacity .4s, padding-top .4s;
  transition: opacity .4s, padding-top .4s;

  h1, h2 {
    margin-bottom: 16px;
    font-size: 1.8em;
  }

  h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
  }

  a {
    text-decoration: none;
    color: $link-color;

    -webkit-transition: color .08s;

    transition: color .08s;

    &:hover {
      color: $link-hover-color;
    }
  }

  p {
    max-width: 800px;
    margin-bottom: 12px;
  }

  nav {
    a {
      margin-right: 3px;
    }
  }

  &.hidden {
    padding-top: 60px;
    opacity: 0;
    pointer-events: none;
  }

  &.non-euclidean {
    @include project-bg-color('non-euclidean')
  }

  &.hyperflora {
    @include project-bg-color('non-euclidean')
  }

  &.ibm {
    @include project-bg-color('ibm')
  }

  &.reflections {
    @include project-bg-color('reflections')
  }

  &.hackillinois {
    @include project-bg-color('hackillinois')
  }
}

#portfolio {
  position: absolute;
  bottom: calc-nav-vertical();
  width: 100vw;

  ul {
    list-style: none;
    position: relative;
  }

  &.minimized {
    &.disabled, &:not(:hover) {
      li.portfolio-nav {
        top: 0;

        &.selected {
          top: $nav-offset;
        }
      }
    }

    .portfolio-close {
      cursor: pointer;

      span {
       opacity: 1;
     }
    }
  }

  li {
    position: absolute;
    $height: 70px;
    height: $height;
    width: calc-stripe-width($height);
    -webkit-transform: translate(calc-stripe-offset($height), 0) rotate(-20deg);
            transform: translate(calc-stripe-offset($height), 0) rotate(-20deg);

    font-size: 1.6em;
    -webkit-transition: top .3s ease-out;
    transition: top .3s ease-out;
    cursor: pointer;

    $elements: 6;
    @for $i from 1 to ($elements + 1) {
      &:nth-child(#{$i}) {
         top: calc((#{$elements} - #{$i}) * #{$nav-offset});
      }
    }

    h3 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;

      width: 100%;
      height: 100%;
      padding-right: 50px;

      text-decoration: none;
      color: #fff;

      -webkit-transition: background .3s, padding-right .4s;

      transition: background .3s, padding-right .4s;
    }

    &.portfolio-close {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: flex-start;
          -ms-flex-align: flex-start;
              align-items: flex-start;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;

      padding-top: 20px;
      padding-right: 40px !important;
      $height: 150px;
      height: $height;
      width: calc-stripe-width($height);

      -webkit-transform: translate(calc-stripe-offset($height), 0) rotate(-20deg);
              transform: translate(calc-stripe-offset($height), 0) rotate(-20deg);

      color: $dark-text-color;
      background-color: get-color('footer');
      text-transform: lowercase;

      -webkit-transition: opacity .4s, color .2s;
      -webkit-transition: color .2s;
      transition: color .2s;

      cursor: default;

      &:hover {
        color: $bg-color;
      }

      span {
        opacity: 0;
        -webkit-transition: opacity .4s;
        transition: opacity .4s;
      }
    }
  }
}

li.non-euclidean {
  @include portfolio-nav-stripe('non-euclidean')
}

li.hyperflora {
  @include portfolio-nav-stripe('hyperflora')
}

li.ibm {
  @include portfolio-nav-stripe('ibm')
}

li.reflections {
  @include portfolio-nav-stripe('reflections')
}

li.hackillinois {
  @include portfolio-nav-stripe('hackillinois')
}

.video-wrapper-wrapper {
  max-width: 700px;
  margin-top: 30px;

  .video-wrapper {
  	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;

    iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
  }
}

.gallery {
  position: relative;
  max-width: 800px;
  margin-top: 30px;

  &::before {
    content: '';
  	display: block;
  	padding-top: 56.25%;
  }

  img {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;

    -webkit-transition: opacity .5s;

    transition: opacity .5s;

    &.selected {
      opacity: 1;
    }
  }

  .next, .back {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;

    opacity: 0;

    -webkit-transition: opacity .1s;

    transition: opacity .1s;
    cursor: pointer;

    &:hover {
      opacity: .9 !important;
    }
  }

  .back {
    left: 0;

    background: url(../assets/icons/back.svg) no-repeat left center;
    background-size: 20% auto;
  }

  .next {
    right: 0;

    background: url(../assets/icons/next.svg) no-repeat right center;
    background-size: 20% auto;
  }

  &:hover {
    .back, .next {
      opacity: .4;
    }
  }
}

/*********************
MISC
*********************/

/* Email tooltip modified from https://jsfiddle.net/i_like_robots/qrXyE/ */
.field-tip {
  position: relative;
  display: inline-block;

  margin: 12px 0 4px;

  color: $link-color;

  -webkit-transition: color .08s;

  transition: color .08s;
  cursor: context-menu;

  .tip-content {
    position:absolute;
    top:-6px; /* - top padding */
    right:9999px;
    width:180px;
    margin-right:-200px; /* width + left/right padding */
    padding: 8px 12px;
    color:#fff;
    font-size: .9em;
    background:#333;
    border-radius: 4px;
    -webkit-box-shadow:2px 2px 5px #aaa;
            box-shadow:2px 2px 5px #aaa;
    opacity:0;
    -webkit-transition:opacity 250ms ease-out;
            transition:opacity 250ms ease-out;

    &:before {
      content:' '; /* Must have content to display */
      position:absolute;
      top:50%;
      left:-16px; /* 2 x border width */
      width:0;
      height:0;
      margin-top:-8px; /* - border width */
      border:8px solid transparent;
      border-right-color:#333;
    }
  }

  &:hover {
    color: $link-hover-color;

    .tip-content {
      right:-20px;
      opacity:1;
    }
  }
}
